# Backend (Laravel via nginx)
{$DOMAIN} {
	tls /etc/certs/app-skeleton.test.pem /etc/certs/app-skeleton.test-key.pem
	reverse_proxy http://web:80
	header {
		Strict-Transport-Security "max-age=31536000"
	}
	encode gzip
}

# Frontend (Vite dev server)
ui.{$DOMAIN} {
        tls /etc/certs/app-skeleton.test.pem /etc/certs/app-skeleton.test-key.pem
        reverse_proxy http://frontend:5173
        header {
                Strict-Transport-Security "max-age=31536000"
        }
        encode gzip
}
